# .dockerignore v1.3.0
# https://gist.github.com/Sandros94/7f3dc1539c8f5905c495aa1bb417589c


# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
.data
dist

# Node dependencies
node_modules

# Local env files
*.env
!.env
.env.example
!.env.*

# Logs
logs
*.log

# VSCode
.vscode
.devcontainer

# Misc
.git
.github
.DS_Store
.AppleDouble
.LSOverride
.fleet
.idea

# Project specific
