# .eslintignore v1.1.0
# https://gist.github.com/Sandros94/7f3dc1539c8f5905c495aa1bb417589c


# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Misc
schema
**/*.tmpl.*
sw.js

# Project specific
