{
  "root": true,
  "extends": [
    "@nuxt/eslint-config",
    "plugin:@stylistic/recommended-extends",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "vue/max-attributes-per-line": ["warn", {
      "singleline": {
        "max": 3
      },      
      "multiline": {
        "max": 1
      }
    }],
    "vue/attributes-order": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn", // or "error"
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "tailwindcss/no-custom-classname": "off"
  }
}
